<h2>Welcome!</h2>
<h3>New User Instructions</h3>

<ol>
  <li>Click on 'Sign Up'</li>
  <li>Enter your desired subdomain & registratin info</li>
  <li>Create events & track them on the calendar</li>
</ol>
<br>

<h3>Returning Users</h3>

<ol>
  <li>Be sure to type in your subdomain.  If your subdomain is 'example' type:</li>
  <p></p>
  <strong><p id='indent'>   example.jamesyoun.com</p></strong>
  <li>Click on 'Login'</li>
  <li>Enter your email and password</li>
</ol>
